
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}



:root {
--blue:        #3c42c4;
--purple:      #6e51c8;
--purple2:     #a065cd;
--purple3:     #ce79d2;
--lightpurple: #d68fb8;
--cream:       #f4dfbe;

}


